@charset "UTF-8";

.experiencia{
    font-family: 'Rajdhani', sans-serif;
    padding: 110px 120px;
    background-color: #181818;
}

.experiencia-titulo{
    font-size: 8.75rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
    color: #B8B8B8;
    transition: 1s;
}

.experiencia-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.experiencia-imagem-1, .experiencia-imagem-2{
    transition: 0.3s;
}

.experiencia-imagem-1{
    justify-self: right;
}

.experiencia-imagem-1:hover, .experiencia-imagem-2:hover{
    transform: scale(1.03);
}