@charset "UTF-8";

.experiencia{
    font-family: 'Rajdhani', sans-serif;
    padding: 110px 120px;
    background-color: #181818;
}

.experiencia-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.exp-titulo{
    font-size: 8.75rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
    color: #B8B8B8;
}

.exp1{
    justify-self: right;
    transition: 0.1s;
}

.exp2{
    transition: 0.1s;
    justify-self: left;
}

.exp1:hover, .exp2:hover{
    transform: scale(1.075);
}

.bg2{
    padding: 0px 0px 23px 23px;
    background-image: url(../images/pattern2.svg);
    background-repeat: no-repeat;
    background-position: left 3px bottom 3px;
}

.card-foto1{
    display: block;
    margin: 0 auto;
    padding: 30px 0px;
}

.card-foto2{
    display: block;
    margin: 0 auto;
    padding: 20px 0px;
}