@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 5000px;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

[data-anime]{
    opacity: 0;
}

[data-anime="right"]{
    transform: translate3d(100px, 0px, 0px);
}

[data-anime].animate{
    opacity: 0.2;
    transform: translate3d(0px, 0px, 0px);
}

.voltar-topo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    padding: 15px;
    background-color: #55E7A5;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.6 !important;
    transition: 0.3s;
    scale: 0.95;
}

[data-anime="right"]:hover{
    opacity: 1 !important;
    transform: scale(1.1) rotate(360deg);
}