@charset "UTF-8";

.principal-container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 180px 170px;
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(45deg, #024554, #53736A, #6A8C69, #A8B545, #C2C0A6);
    background-size: 200% 200%;
    animation: colors 7s ease infinite;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 100%;
    }

    75%{
        background-position: 150% 150;
    }

    100%{
        background-position: 0% 50%;
    }
}

.card-container-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    -webkit-box-shadow: -20px 20px 38px 16px rgba(0,0,0,0.13);
    -moz-box-shadow: -20px 20px 38px 16px rgba(0,0,0,0.13);
    box-shadow: -20px 20px 38px 16px rgba(0,0,0,0.13);
}

.card-topo-principal{
    padding: 15px 35px;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
}

.card-topo-principal span{
    font-size: 1.6rem;
    font-weight: 600;
}

.card-titulo-principal{
    padding: 15px 35px 0px 30px;
    text-decoration: underline;
    font-size: 2.5rem;
    font-weight: 600;
}

.card-texto-principal{
    font-size: 1.7rem;
    font-weight: 500;
    padding: 15px 35px;
}

.card-rodape-principal{
    padding: 15px 35px;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px black;
}

.card-rodape-principal span{
    font-size: 1.6rem;
    font-weight: 600;
}

.card-container-principal a{
    color: black;
}

.card-container-principal a div{
    position: relative;
    z-index: 1;
}

.card-container-principal a div::before{
    content: "";
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #f7f6f6, #d3d2d2);
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
}

.card-container-principal a div:hover::before{
    opacity: 0.6;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    justify-content: center;
    max-width: 600px;
    gap: 30px;
    word-break: break-all;
}

.icons-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 18px;
    transition: transform 0.5s ease-in-out;

    /* FUNDO TRANSPARENTE */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.041);
}

.icon-titulo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 1.3rem;
    width: 13ch;
    height: 5ch;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.582);
    transition: .3s;
}

.icons-container:hover{
    transform: scale(1.09);
}

/* ICON HTML */

.icon-image-html{
    transition: 0.3s;
    width: 70px;
    height: 80px;
    background-image: url(../images/html5cinza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icons-container:hover .icon-image-html{
    background-image: url(../images/html5.png);
}

/* ICON CSS */

.icon-image-css{
    transition: 0.3s;
    width: 70px;
    height: 80px;
    background-image: url(../images/css3cinza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icons-container:hover .icon-image-css{
    background-image: url(../images/css3.png);
}

/* ICON JAVASCRIPT */

.icon-image-js{
    transition: 0.3s;
    width: 70px;
    height: 80px;
    background-image: url(../images/jscinza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icons-container:hover .icon-image-js{
    background-image: url(../images/js.png);
}

/* LÓGICA DE PROGRAMAÇÃO */

.icon-image-lgc{
    transition: 0.3s;
    width: 80px;
    height: 80px;
    background-image: url(../images/logicacinza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icons-container:hover .icon-image-lgc{
    background-image: url(../images/logica.png);
}

/* ICON ALGORITMO */

.icon-image-alg{
    transition: 0.3s;
    width: 70px;
    height: 80px;
    background-image: url(../images/binarycinza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icons-container:hover .icon-image-alg{
    background-image: url(../images/binary.png);
}

/* FIGMA */

.icon-image-figma{
    transition: 0.3s;
    width: 70px;
    height: 80px;
    background-image: url(../images/figmacinza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.icons-container:hover .icon-image-figma{
    background-image: url(../images/figma.png);
}

.info{
    opacity: 0;
    position: absolute;
    background-color: rgba(56, 56, 56, 0.459);
    top: -82px;
    left: -30px;
    width: 20ch;
    word-break: break-all;
    height: auto;
    font-size: 1.1rem;
    text-align: center;
    transition: 0.3s;
    color: #ffffff;
    border-radius: 10px;
    padding: 12px;
}

.info::after{
    position: absolute;
    bottom: -15px;
    right: 73px;
    content: "";
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(56, 56, 56, 0.459);
}

.icons-container:hover .info{
    opacity: 1;
}

.icons>div:hover .icon-titulo{
    opacity: 0;
}

/* REPONSIVO */

@media (max-width: 1660px){
    .principal-container{
        gap: 40px;
    }
}

@media(max-width: 1390px){
    .principal-container{
        grid-template-columns: 1fr;
        gap: 60px;
        padding: 130px 80px;
    }
}

@media (max-width: 750px){
    .principal-container{
        padding: 90px 100px;
    }
}

@media (max-width: 680px){
    .principal-container{
        padding: 50px 60px;
    }

    .card-titulo-principal{
        font-size: 2rem;
    }

    .card-texto-principal{
        font-size: 1.5rem;
    }
}

@media (max-width: 610px){
    .principal-container{
        gap: 30px;
    }

    .icons{
        max-width: calc(100% + 50px);
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: initial;
        gap: 15px;
    }

    .icons-container{
        padding: 10px;
        border-radius: 8px;
    }

    div[class|=icon-image]{
        width: 40px;
        height: 40px;
    }

    .icon-titulo{
        font-size: 0.85rem;
    }

    .info{
        display: none;
    }
}

@media (max-width: 550px){
    .card-topo-principal img{
        display: none;
    }

    .card-titulo-principal{
        font-size: 1.6rem;
    }

    .card-texto-principal{
        font-size: 1.18em;
    }

    .card-rodape-principal span{
        font-size: 1.25rem;
    }
}

@media (max-width: 452px){
    .card-topo-principal{
        display: none;
    }
}

@media (max-width: 402px){
    .principal-container{
        padding: 20px 40px;
    }

    .card-titulo-principal{
        font-size: 1.3rem;
        padding: 10px 20px;
    }

    .card-texto-principal{
        font-size: 1rem;
        padding: 10px 20px;
    }

    .card-rodape-principal span{
        font-size: 1.09rem;
    }

    .card-rodape-principal{
        padding: 10px 20px;
    }

    .card-rodape-principal img{
        width: 45px;
    }
}

@media (max-width: 343px){
    .card-titulo-principal{
        font-size: 1.2rem;
    }

    .card-texto-principal{
        font-size: 0.9rem;
    }

    .card-rodape-principal{
        font-size: 0.8rem;
    }
}

@media (max-width: 270px){
    .principal-container{
        padding: 15px 20px;
    }

    .card-rodape-principal img{
        display: none;
    }

    .card-rodape-principal{
        justify-content: center;
    }

    .card-texto-principal{
        font-size: 0.9rem;
        padding: 10px 20px;
    }

    .card-titulo-principal{
        font-size: 1rem;
        padding: 10px 20px 5px 20px;
    }

    .card-rodape-principal span{
        font-size: 0.9rem;
    }
}