@charset "UTF-8";

.projetos{
    font-family: 'Rajdhani', sans-serif;
}

.projetos-titulo{
    font-size: clamp(2rem, 10vw + 0.1rem, 8rem);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
    transition: 1s;
    color: #3D3D3D;
}